<h2>{{tournaments.tournament.name}}</h2>
<p>
  Status: {{tournaments.tournament.finished ? "Over" : "Ongoing" }}
</p>
  <div class="link" ng-if="tournaments.tournament.players">Join tournament.</div>
  <div class="link">Manage tournament.</div>
  <div class="link">Delete tournament.</div>

<div class="scroll-on-page">
  <aside id="scroll-on-page-top">
    <a class="scroll-on-page-link" href="#scroll-link-1">Tournament Details</a>
    <a class="scroll-on-page-link" href="#scroll-link-2">Current Standings</a>
    <a class="scroll-on-page-link" href="#scroll-link-3">Matches</a>
  </aside>

  <article>
    <section>
      <h3 id="scroll-link-1">Tournament Details</h3>
      <h4>{{tournaments.tournament.name}}</h4>
      <p>
        A {{tournaments.tournament.game}} tournament, held at {{tournaments.tournament.location}}.
      </p>
      <p>
        {{tournaments.tournament.description}}
      </p>
      <p>
        Organised by {{tournaments.tournament.creator.local.username}}.
      </p>
      <p>
        Current players:
      </p>
      <ul>
        <li ng-repeat="player in tournaments.tournament.players">{{player.local.username}}</li>
      </ul>
      <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
    </section>
    <section>
      <h3 id="scroll-link-2">Current Standings</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
      <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
    </section>
    <section>
      <h3 id="scroll-link-3">Matches</h3>
      <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
      <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
    </section>
  </article>
</div>
