<div class="hero">
  <div class="hero-content">
    <img src="/images/whitelogosmall.png" alt="Logo Image" class="hero-logo">
    <h2>Welcome to the Fight Federation</h2>
    <h3 ng-hide="Users.checkLoggedIn()">Login:</h3>
    <form id="login" name="Users.loginForm" ng-submit="Users.login()" novalidate ng-hide="Users.checkLoggedIn()">
      <div ng-show="(!!Users.error && Users.loginForm.$submitted)">{{ Users.error }}</div>

      <div>
        <label for="email">Email address</label><br>
        <input type="email" id="email" placeholder="Email" name="email" ng-model="Users.user.email" required>
      </div>

      <div ng-messages="Users.loginForm['email'].$error" ng-show="(Users.loginForm.$submitted && Users.loginForm['email'].$invalid)">
        <span>Error:</span>
        <span ng-message="required">Email is required.</span>
      </div>

      <div>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"  placeholder="Password" ng-model="Users.user.password" required>
      </div>

      <div ng-messages="Users.loginForm['password'].$error" ng-show="(Users.loginForm.$submitted && Users.loginForm['password'].$invalid)">
        <span>Error:</span>
        <span ng-message="required">Password is required.</span>
      </div>

      <button type="submit">Submit</button>
    </form>
    <p ng-show="Users.checkLoggedIn()">Welcome back, {{Users.currentUser.local.fullname}}.<p>
    <div class="button" ui-sref="tournaments">To the Brawl Board</div>
  </div>
</div>

<h2>This is the Fight Federation.</h2>
