<!-- <h2>Login</h2>
  <form id="login" name="users.loginForm" ng-submit="users.login()" novalidate>
    <div ng-show="(!!users.error && users.loginForm.$submitted)">{{ users.error }}</div>

    <div>
      <label for="email">Email address</label>
      <input type="email" id="email" placeholder="Email" name="email" ng-model="users.user.email" required>
    </div>

    <div ng-messages="users.loginForm['email'].$error" ng-show="(users.loginForm.$submitted && users.loginForm['email'].$invalid)">
      <span>Error:</span>
      <span ng-message="required">Email is required.</span>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="text" id="password" name="password"  placeholder="Password" ng-model="users.user.password" required>
    </div>

    <div ng-messages="users.loginForm['password'].$error" ng-show="(users.loginForm.$submitted && users.loginForm['password'].$invalid)">
      <span>Error:</span>
      <span ng-message="required">Password is required.</span>
    </div>

    <button type="submit">Submit</button>
  </form> -->
